<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WirelessProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="CsvFileAppender" />
      <!--<appender-ref ref="XmlLogFileAppender" />-->
    </root>
    <appender name="CsvFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="logs\logGPS-%date{yyyy-MM-dd_HH-mm-ss}.csv" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="TimeStamp,EventID,Status,Latitude,Longitude&#13;&#10;" />
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss},%message%newline" />
      </layout>
    </appender>
    <appender name="XmlLogFileAppender" type="log4net.Appender.FileAppender" >
      <file type="log4net.Util.PatternString" value="XMLlogs\logGPS-%date{yyyy-MM-dd_HH-mm-ss}.xml" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true"/>
      <layout type="WirelessProject.MyXmlLayout"/>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
      <file value="logGPS.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
  </log4net>  
    <userSettings>
        <WirelessProject.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GPSLogFolder" serializeAs="String">
                <value />
            </setting>
        </WirelessProject.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
